dash==2.16.1
dash_core_components==2.0.0
dash_html_components==2.0.0
pandas==2.2.2
plotly==5.20.0
Requests==2.31.0
matplotlib
openpyxl
nbformat==4.2.0
pywaffle
wordcloud
nltk
dash-bootstrap-components
